html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $main-gradient;
  border-radius: 6px;
  &:hover {
    background: $primary-color;
  }
}
