$primary-color: #458ff6;
$second-color: #fff;
$heading-color: #000000;
$paragraph-color: #7d7987;
$text-hover-color: #1f1534;
$main-gradient: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
$footer-gradient: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
$shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
