html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}

@import "variables";
@import "mixins";
@import "header";
@import "main";
@import "footer";
@import "responsive";
